<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    {{!-- i know that above path is not right but it working because in app.js we join the public folder to src folder therefore we use it like this if we remove then
css , img , js file not worked with this file --}}

</head>
<body>
    <div class="main-content">
        {{>header}}
        <h3>Hi I'm Banke</h3>
        <h3>I Created this website by using Node.js</h3>
        <img src="./img/IMG_20190915_122507.jpg" class="portrait">
        <p>Please share your experience by message on 6395855317</p>
    </div>

    {{>footer}}
</body>
</html>